---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import { Heading, Link } from 'accessible-astro-components'
---

<DefaultLayout title="Home">
  <section class="my-64">
    <div class="container">
      <div class="flex items-center justify-center">
        <div class="text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello there</h1>
            <p class="py-6">Welcome to my ML-Zoomcamp blog!</p>
            <Link href="/blog" isButton type="primary" animateOnHover animationType="nudge"> Let's go! </Link>
          </div>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
