---
import CallToAction from './CallToAction.astro'
import Logo from './Logo.astro'
import { Heading, Link } from 'accessible-astro-components'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-20">
    <Heading level="h2" class="sr-only">Footer</Heading>

  
  </section>

  <!--
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Starter Theme for <Link href="https://astro.build/">Astro</Link>.
      </p>
      <p>
        Made with ❤️ by <Link href="https://github.com/markteekman">Mark Teekman</Link>. Part of <Link
          href="https://www.incluud.dev">Incluud</Link
        >.
      </p>
    </div>
  </section>
   -->
</footer>

<style>
</style>
